<!DOCTYPE html>
<html>
<head>
	<!---- required meta tags ---->
	<meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Manrope&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/msgbox_style.css">
  </head>
  <body>
   	<div class="container">
    	{% block content %}{% endblock %}
    	<!---- Flash Message code begin ---->
    	{% with messages = get_flashed_messages() %}
    		{% if messages %}
    			{% for message in messages %}
    				<h3>{{ message }}</h3>
    			{% endfor %}
    		{% endif %}
    	{% endwith %}
    	<!---- Flash Message code end --->
   	</div>
  </body>
</html>
